body {
    background-color:#0d0f14
}


.perfilhome{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 10%;
    border-color: rgb(0, 24, 56);
    transition: ease-in-out 0.3s;
}

.perfilhome h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.btn-group-opcoes-home, .btn-group-opcoes-home-sair{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    color: white;
    font-family: "sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    transition: ease-in-out 0.3s;
    border-radius: 30px;
}


.tags_post{
    background-color: rgb(0, 0, 0);
    border-radius: 20px !important;
    color: white;
    transition: ease-in-out 0.3s;
    border-color: #0d0f14;
}.tags_post:hover{
    transition: ease-in-out 0.3s;
}

.btn-deletar-tag:hover{
    cursor: pointer;
    background-color: rgb(113, 0, 0);
    color: white;
}


.card-novidades{
    margin-top: 50px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}
