*{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/*teste*/
body {
    background-image: url("../imagens/bstags.svg");
    background-repeat: repeat;
    background-size: 500px 500px;
    background-color: black;
}



.sora-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



.btn-custom{
    border: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn-custom:hover{
    border: 10px;
    background-color: rgb(53, 53, 53);
    color: white;
    text-decoration: none;
}

.text{
    font-size: 40px;
    font-weight: 600;
}
.text span{
font-family: "Poppins", sans-serif;
}

.img-perfil {
    object-fit: cover !important; /* impede distorção */
    object-position: center !; /* centraliza a imagem no recorte */
    border-radius: 50%; /* se quiser redonda */
}

/*Efeito glass na tela de login*/



.tags {
    margin-top: 100px;
    background-color: rgb(20, 20, 20);
    border-radius: 16px; 
    color: #fff;
    border: 1px solid #8a8a8a;
    padding: 10px;
}
/* ================= NAVBAR GLASS ================= */
.navbar-glass {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
}

.navbar-inner {
    margin: 0 auto;
    width: min(1400px, 96vw);
    width: 92%;
    height: 64px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(20, 20, 20, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

#navbar .nav-link {
    color: #fff;
    font-size: 1.05rem;
}

#navbar .nav-link:hover {
    color: #aaa;
}


/* teste */

.bg-tags {
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}

.bg-tags::before {
    content: "Tags  Tags  Tags  Tags  Tags  Tags  Tags  Tags  Tags  Tags";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    font-size: 64px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    word-spacing: 40px;
    transform: rotate(-15deg);
    pointer-events: none;
    white-space: pre-wrap;
}
