.poppins{
    font-family: "poppins";
}



body {
    background-color:#0d0f14
}


.perfilhome{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 10%;
    border-color: rgb(0, 24, 56);

}

.perfilhome h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.btn-group-opcoes-home, .btn-group-opcoes-home-sair{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    color: white;
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    transition: ease-in-out 0.3s;
    border-radius: 30px;
}


.tags_post{
    background-color: rgb(0, 0, 0);
    border-radius: 20px !important;
    color: white;
    transition: ease-in-out 0.3s;
    border-color: #0d0f14;

}.tags_post:hover{
    transition: ease-in-out 0.3s;
}

.btn-deletar-tag:hover{
    cursor: pointer;
    background-color: rgb(113, 0, 0);
    color: white;
}


.card-novidades{
    margin-top: 50px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: flex-start; /* joga tudo pro canto */
    gap: 30px; /* espaço entre o perfil e o conteúdo */
}

.perfil-box {
    margin-left: 0; /* garante que não tem margem puxando pro meio */
}
    
.btn-group-opcoes-home-mobile{
    display: none;
}

.usuario{
    font-family: monospace, sans-serif;
}

.tag_post_registo{
    font-family: "poppins", sans-serif;

}

@media (max-width: 767.98px){


    .perfil-container, .col-md-6, .col-md-3:last-child{
        margin-bottom: 20px;
    }
    .perfil-home img{
        width: 100px;
        height: 100px;
    }

    .btn-group-opcoes-home, .btn-group-opcoes-home-sair{
        display: none;
    }

    .buscar-pessoas{
        display: none;
    }

    .btn-group-opcoes-home-mobile{
        display: block;
        margin-top: 10px;
    }



        .perfilhome h4 {
        font-size: 1.2rem; /* antes podia ser 1rem ou menor */
    }

    .perfilhome h5 {
        font-size: 1rem;
    }

    .perfilhome strong {
        font-size: 1rem;
    }

    /* Botões */
    .btn-group-opcoes-home, .btn-group-opcoes-home-sair {
        font-size: 1rem; /* aumenta leitura do botão */
        padding: 0.5rem 1rem;
    }

    /* Posts / Conteúdo */
    #tags, #pessoas {
        font-size: 1rem;
    }

    /* Inputs e textarea */
    input.form-control, textarea.form-control {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar .nav-link {
        font-size: 1rem;
    }
}

