.btn-custom{
    border: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn-custom:hover{
    border: 10px;
    background-color: rgb(53, 53, 53);
    color: white;
    text-decoration: none;
}